*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.i{
    
    width:100%;
    height:35rem;
    
    background-image: url(../assets/images/gr.jpg);
    background-size:cover;
    
}

.i h2{
    font-size: 80px;
    color:orange;
    margin-top: 0;
    padding-top: 50px;
}



@media (max-width:568px){
    .i{
        height:25rem;
    }

    .i h2{
        font-size: 50px;
        color:orange;
        margin-top: 0;
        padding-top: 50px;
    }

}