*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.foot{
    background-color: rgb(3, 3, 50);
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height:250px;
}

.fo{
    margin-top: 40px;
    width:200px;
    margin-left: 20px;
    
}

.fo h5{
    margin-top:20px;
    margin-bottom: 20px;
    color:white;
}

@media (max-width:662px){
    .foot{
        height:700px;
    }

    .fo{
        margin-top: 10px;
    }

    .fo h5{
        margin-top:5px;
    }

}